<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wenzhuo4657.blog.basic.dao.SgArticleMapper">
<!--    实体映射集合-->
    <resultMap id="ArticleDetailVo_result_map" type="cn.wenzhuo4657.blog.basic.domain.vo.ArticleDetailVo">
        <result column="name" property="categoryName"></result>
    </resultMap>
    <!--查询集合列-->
    <sql id="HotArtcleVo_column_list">
        art.id,art.title,art.view_count
    </sql>
    <sql id="ArticleDetailVo_column_list" >
        <include refid="HotArtcleVo_column_list"></include>
        ,art.summary,art.category_id,art.content,art.thumbnail,art.create_time,cate.`name`
    </sql>






<!--    文章通用查询条件-->
    <sql id="query_condition">
        <where>
        <if test="viewCount>-1L">
            and view_count >= #{viewCount}
        </if>
        <if test="isComment!=null">
            and is_comment=#{isComment}
        </if>
       <if test="delFlag!=null">
           and del_flag=#{isComment}
       </if>
        </where>


    </sql>
    <sql id="query_condition:last">
        <if test="nums!=null and offset !=null">
            limit #{nums}  offset  #{offset}
        </if>
    </sql>

    <select id="selectHot" resultType="cn.wenzhuo4657.blog.basic.domain.vo.HotArtcleVo" >
            select  <include refid="HotArtcleVo_column_list"></include> from sg_article as art
           <include refid="query_condition"></include>
            order by view_count desc
            <include refid="query_condition:last"></include>
    </select>

    <select id="selectArticleList" resultType="cn.wenzhuo4657.blog.basic.domain.enity.SgArticle">
        select * from sg_article
        <where>
            <if test="categoryid!=null and categoryid>0">
                category_id=#{categoryid}
            </if>
            and status=#{status}
        </where>
        order by is_top  desc
    </select>
    <select id="selectCategoryIdList" resultType="java.util.List">
        select  DISTINCT  category_id from  sg_article
    </select>
    <select id="selectDetalis" resultMap="ArticleDetailVo_result_map">
            select <include refid="ArticleDetailVo_column_list"></include>
                from sg_article as art
                left join sg_category as cate
                on  art.category_id=cate.id
            where art.id=#{id}
    </select>
    <select id="getViewcountMap" resultType="cn.wenzhuo4657.blog.basic.domain.enity.SgArticle">
        select  art.id ,art.view_count from sg_article as art
    </select>

</mapper>