<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wenzhuo4657.blog.admin.dao.MenuMapper">



    <sql id="Base_Column_List">
        id,menu_name,parent_id,
        order_num,path,component,
        is_frame,menu_type,visible,
        status,perms,icon,
        create_by,create_time,update_by,
        update_time,remark,del_flag
    </sql>


    <select id="getPermsById" resultType="java.lang.String">
     select  perms
     from sys_menu m
                   right join sys_role_menu  r_m
                       on  r_m.menu_id=m.id
                   where  r_m.role_id=#{id}
     </select>
    <select id="getAllPerms" resultType="java.lang.String">
        select  DISTINCT  perms
        from  sys_menu m
        where  menu_type in ("C","F")  and
        status=0
    </select>
    <select id="getAllMeus" resultType="cn.wenzhuo4657.blog.admin.domain.enity.Menu"></select>
    <select id="getById" resultType="cn.wenzhuo4657.blog.admin.domain.enity.Menu"></select>
</mapper>
